#portfolio {
    margin-bottom: 60px;
}

#portfolio .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#portfolio .project {
    width: 100%;
    background: #fff;
    color: var(--black);
    margin-bottom: 120px;
    transition: all 0.3s ease-in-out;
}

#portfolio .project:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    background: var(--project-color);
    color: #fff;
    border-color: var(--project-color);
}


#portfolio .project:nth-child(odd) .row {
    flex-direction: row-reverse;
}

#portfolio .project .row {
    width: 100%;
    display: flex;
    gap: 60px;
}

#portfolio .project .row .col-1 {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: -20px 0 10px 0;
}

#portfolio .project .row .col-1 img {
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}

#portfolio .project:hover .row .col-1 img {
    transform: scale(1.075);

}

#portfolio .project .row .col-2 {
    width: 100%;
    padding-bottom: 40px;
}

#portfolio .project .row .col-2 h2 {
    font-size: 2.5rem;
    font-family: var(--font-space-grotesk);
    margin-bottom: 0;
    letter-spacing: -1px;
}

#portfolio .project .row .col-2 p {
    font-size: 1.3rem;
}

#portfolio .project .row .col-2 .cta {
    margin-top: 30px;
}

#portfolio .project .row .col-2 .cta a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid var(--black);
    width: 100%;
    max-width: 185px;
    transition: all 0.1s ease-in-out;
}

#portfolio .project:hover .row .col-2 .cta a svg {
    fill: #fff;
}

#portfolio .project:hover .row .col-2 .cta a {
    color: #fff;
    border-color: #fff;
}

#portfolio .project:hover .row .col-2 .cta a:hover svg {
    fill: var(--project-color);
}

#portfolio .project:hover .row .col-2 .cta a:hover {
    color: var(--project-color);
    border-color: #fff;
    background: #fff;
}


@media(orientation: portrait) {
    #portfolio .project .row {
        flex-direction: column !important;
    }

    #portfolio .project {
        padding-bottom: 40px;
        margin-bottom: 80px;
    }

    #portfolio .project:last-child {
        margin-bottom: 0;
    }

    #portfolio .project .row {
        gap: 0;
    }

    #portfolio .project .row .col-2 {
        padding: 0 7%;
    }

    #portfolio .project .row .col-2 h2 {
        margin: 0;
    }

    #portfolio .project .row .col-2 .cta a {
        width: 100%;
    }

    #portfolio .services {
        overflow-x: hidden;
    }
}