#hero {    
    background: var(--black) url('/bg-hero.webp') center;
    background-size: cover;
    background-attachment: fixed;
    padding: 260px 0 12vh 0;
}

#hero .container {
    display: flex;
    justify-content: center;
}

#hero .container-image {
    width: 100%;
    max-width: 1260px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

#hero img.desktop {
    max-width: 100%;
    height: auto;
}

#hero img.mobile {
    max-width: 100%;
    width: 100%;
    height: auto;
}

#hero .selo {
    position: absolute;
    right: 10%;
    top: -50px;
    right: -70px;    
}

#hero .selo-image {
    animation: spin 20s linear infinite;
}

#hero .e-bg {
    position: absolute;
    left: 50%;
    margin-left: -55px;
    top: 31px;
}

#hero .tagline {
    display: flex;
    flex-direction: row;
    gap: 20px;    
    margin: 100px 0 0 16%;
    width: 84%;
}

#hero .tagline p{
    color: #fff;
    margin: 0;
    font-weight: 400;
}

#hero .tagline .col-1 {
    max-width: 300px;
    border-right: 1px solid #ccc;
}

#hero .tagline .col-1 p {
    margin-bottom: 28px;
}

#hero .tagline .col-1 p strong.number{
    color: var(--black);    
    font-size: 68px;
    line-height: 58px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: var(--green);
    stroke: var(--green);
    font-weight: 800;
    font-family: sans-serif;    
}

#hero .tagline .col-1 p span{       
    display: inline-block;
    width: 100%;
    font-size: 20px;    
    display: inline-block;
    margin-top: 5px;
}

#hero .tagline .col-1 .people{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#hero .tagline .col-1 .people .rating{
    margin: 0;
}

#hero .tagline .col-1 .people .rating .stars{
    height: 21px;
}

#hero .tagline .col-1 .people .rating p{
    font-weight: 500;
}
#hero .tagline .col-1 .people .rating p strong{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -1px;
}

#hero .tagline .col-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#hero .tagline .col-2 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;    
}

@media(orientation: landscape) {
    #hero img.mobile {
        display: none;
    }
}

@media(orientation: portrait) {
    #hero {
        padding: 200px 7% 7% 7%;
    }
    #hero img.desktop,
    #hero .selo {
        display: none;
    }
    #hero .tagline {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    #hero .tagline .col-1,
    #hero .tagline .col-2 {
        width: 100%;
        border-right: none;
        padding: 0;
    }
}

@media(max-width: 1400px) {
    #hero img.selo {
        right: 0;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}