#hero {
    margin: 26vh auto 11vh auto;
}

#hero .container {
    display: flex;
    justify-content: center;
}

#hero .container-image {
    width: 100%;
    max-width: 1260px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hero img.desktop {
    max-width: 100%;
    height: auto;
}

#hero img.mobile {
    max-width: 100%;
    height: auto;
}

#hero .tagline {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#hero .tagline a:hover {
    background: transparent;
}

#hero .tagline svg {
    fill: var(--black);
    transition: all 0.3s ease;
}

#hero .tagline svg:hover {
    transform: translateY(15px);
}

#hero .link:hover {
    background-color: var(--black);
    color: #fff;
    transition: all 0.3s ease;
}

@media(orientation: landscape) {
    #hero img.mobile {
        display: none;
    }
}

@media(orientation: portrait) {
    #hero {
        padding: 0 7%;
        margin: 34vh auto 25vh;
    }

    #hero img.desktop {
        display: none;
    }
}