:root {
  --black: #181818;
  --green: #B8E900;
}

body {
  font-family: var(--font-plus-jakarta-sans);
  margin: 0;
  background-color: #111;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.col-1 {
  width: 50%;
}

.col-2 {
  width: 50%;
}

img {
  max-width: 100%;
  height: auto;
}