@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');


:root {    
  --black: #0c0c0c;
}

body{
  font-family: 'Hanken Grotesk', sans-serif;  
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;  
  display: flex;
  justify-content: space-between;
  align-items: center;  
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.col-1{
  width: 50%;
}

.col-2{
  width: 50%;
}