:root {
  --black: #111;
}

body {
  /*font-family: 'Hanken Grotesk', sans-serif; */
  font-family: var(--font-space-grotesk);
  margin: 0;
  /*font-family: "Bricolage Grotesque", sans-serif;*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.col-1 {
  width: 50%;
}

.col-2 {
  width: 50%;
}