#clients{
    padding: 80px 0;    
}

#clients .container{
    max-width: 900px;
    display: flex;
    flex-direction: row;    
    gap: 2rem;
}

#clients .col-1,
#clients .col-2{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}

#clients h2{
    width: 100%;
    font-size: 4.5rem;
    line-height: 4rem;
    max-width: 350px;
    font-weight: 900;
}

#clients .clients-container{
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    gap: 2rem;    
    justify-content: END;
}

#clients .client{
    position: relative;
    width: 33%;
    height: 120px;   
    display: flex;
    align-items: center;
    justify-content: center;         
}

#clients .client-image{
    object-fit: contain;
        
}