#clients{
    padding: 80px 0;    
}

#clients .container{
    max-width: 900px;
    display: flex;
    flex-direction: row;    
    gap: 2rem;
}

#clients .col-1,
#clients .col-2{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    
}

#clients h2{
    width: 100%;
    font-size: 4.5rem;
    line-height: 4rem;
    max-width: 350px;
    font-weight: 900;
    transition: all 0.3s ease;
}

#clients h2:hover{
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(136, 138, 255) 5%,rgb(215, 68, 255) 30%, rgb(16, 0, 196) 80%) text;
    transition: all 0.3s ease;
}

#clients .clients-container{
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    gap: 2rem;    
    justify-content: END;
}

#clients .client{
    position: relative;
    width: 33%;
    height: 120px;   
    display: flex;
    align-items: center;
    justify-content: center;         
}

#clients .client-image{
    object-fit: contain;
        
}