#clients {
    padding: 120px 0;
}

#clients .container {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#clients .col-1,
#clients .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#clients h2 {
    width: 100%;
    font-size: 4.5rem;
    line-height: 4rem;
    max-width: 350px;
    font-weight: 700;
    transition: all 0.3s ease;
    letter-spacing: -2px;
    color: var(--green);
}

#clients h2 strong {    
    color: #fff;    
}

#clients .clients-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: END;
}

#clients .client {
    position: relative;
    width: 33%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients .client-image {
    object-fit: contain;
}

#clients .clients-container .client img {
    max-width: 140px;
    max-height: 80px;
}


@media(orientation: portrait) {
    #clients {
        padding: 0 7% 7% 7%;
        margin-bottom: 40px;
    }

    #clients .col-1,
    #clients .col-2 {
        width: 100%;
    }

    #clients h2 {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 0;        
    }

    #clients .container .row {
        flex-direction: column;
    }

    #clients .clients-container .client {
        width: 45%;
        padding: 5%;
    }

}