#services {
    padding: 120px 0;
    margin: 0;
    color: #f5f5f5;
    position: relative;
    overflow: hidden;
    background: #111;
}

#services .container {    
    padding: 70px 0;    
}

.services-header h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 60px 0;
    max-width: 800px;
}

.services-header h2 strong {
    color: var(--green);
}

#services p {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 300;
}

#services p strong {
    font-weight: 900;
}

.services-header {
    margin-bottom: 60px;
}



.services-container {
    display: flex;    
    gap: 1rem;
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;    
    border: 2px solid var(--black);
    padding: 30px;
    border-radius: 10px;
    transition: all 0.3s;
    background: #1b1b1b;
    width: 25%;
}

.services-item:hover {
    border-color: #999;
    cursor: pointer;
}

.services-item .services-item-icon {
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    background: var(--green);
    padding: 10px;
    border-radius: 50%;
    border: 4px solid #1b1b1b;
    transition: all 0.3s;
}

.services-item:hover .services-item-icon {
    border: 4px solid #fff
}


.services-item .services-item-icon img {
    max-width: 50px;    
}

.services-item .services-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


.services-item h3 {
    font-size: 1.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
}


/* Responsividade */
@media (max-width: 768px) {
    
    #services {
        padding: 0;
    }

    #services .container {        
        padding: 7%;
    }

    #services .container .services-header {
        margin-bottom: 30px;
    }

    #services .container .services-header h2 {
        font-size: 2.5rem;
    }

    #services .container .services-container {
        flex-direction: column;
    }

    #services .container .services-container .services-item {
        flex-direction: column;
        width: 100%;                
    }
}