#services {
    padding: 0 0 120px 0;
    margin: 0;
    color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

#services .container {
    background: #141414;
    padding: 70px 50px;
    border-radius: 10px;
}

.tech-scroll-1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    height: 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #fff 51%, var(--black) 49%);
}

.tech-scroll-1 .tech-scroll-content {
    display: flex;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
    gap: 4rem;
}

.tech-scroll-1 .tech-word {
    font-size: 7rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #000 51%, #fff 49%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.tech-scroll-2 {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: -7px;
}

.tech-scroll-2 .tech-scroll-content {
    display: flex;
    white-space: nowrap;
    animation: scroll-reverse 80s linear infinite;
    gap: 4rem;
}

.tech-scroll-2 .tech-word {
    font-size: 2rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    font-weight: 900;
    color: #3f3f3f;
    letter-spacing: -1px;
}

.tech-scroll-3 {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.tech-scroll-3 .tech-scroll-content {
    display: flex;
    white-space: nowrap;
    animation: scroll 180s linear infinite;
    gap: 4rem;
}

.tech-scroll-3 .tech-word {
    font-size: 4rem;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    font-weight: 900;
    color: #f0f0f0;


    letter-spacing: -3px;
}

#services p {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 300;
}

#services p strong {
    font-weight: 900;
}

.services-header {
    margin-bottom: 60px;
}

.services-header h2 {
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 60px 0;
    max-width: 800px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-item {
    display: flex;
    gap: 1rem;
    width: 48%;
    border: 2px solid var(--black);
    padding: 5px 25px 5px 20px;
    border-radius: 10px;
    transition: all 0.3s
}

.services-item:hover {
    border-color: #fff;
    cursor: pointer;
}

.services-item img {
    max-width: 70px;
}

.services-item .services-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-item .services-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}


.services-item h3 {
    font-size: 1.5rem;
    margin: 0;
    color: rgb(255, 255, 255);
}

/*.services-item:hover h3 {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(45deg, rgb(136, 138, 255) 5%, rgb(215, 68, 255) 30%) text;
    transition: all 0.3s ease;
}*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .tech-word {
        font-size: 5rem;
    }

    .tech-scroll {
        height: 120px;
    }

    .tech-scroll-content {
        gap: 2rem;
    }

    #services .tech-scroll-3 {
        margin-bottom: 45px;
    }

    #services {
        padding-bottom: 30px;
    }

    #services .container {
        margin: 0 7%;
        padding: 14% 7% !important;
    }

    #services .container .services-header {
        margin-bottom: 30px;
    }

    #services .container .services-header h2 {
        font-size: 2.5rem;
    }

    #services .container .services-container {
        flex-direction: column;
    }

    #services .container .services-container .services-item {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }
}