#contact {
    max-width: 850px;
    background: var(--black);
    padding: 65px 25PX;
    margin: 0 auto 80px auto;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

#contact h2 {
    font-size: 3rem;
    text-align: center;
    max-width: 450px;
    line-height: 1;
    margin: 0 auto 3rem auto;
}

#contact p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 350PX;
    line-height: 1;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}