#contact {
    max-width: 900px;
    background: var(--black);
    padding: 85px 3%;    
    border-radius: 20px;
    color: #fff;
    text-align: center;    
    position: relative;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.2);   
    margin: -210px auto 180px auto;
    border: 2px solid #e4ca29;
}

#contact .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

#contact .row {
    width: 100%;    
    flex-direction: row;
    gap: 2rem;
    display: flex;
}

#contact .col-1 {
    text-align: left;
}

#contact .col-1 h3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
    text-shadow: 2px 3px 2px #000;
}

#contact .col-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#contact .btn {
    max-width: 300px;
    font-size: 1.15rem;
    text-align: center;
    max-width: 350PX;
    line-height: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #fff;
    background: rgb(255, 255, 255, 0.2);
    padding: 7px 20px 7px 8px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;    
}   

#contact .btn.phone,
#contact .btn.email {
    background: var(--black);
    color: #fff;
    
}

#contact .btn:hover {
    background: var(--yellow);
    color: #000;
    
}

#contact .btn .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--yellow);
    border-radius: 50%;
    padding: 10px;
}

#contact .btn:hover .icon-container {
    background: #fff;    
}

#contact .hello {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

@media(orientation: portrait) {
    #contact {        
        padding: 7%;        
        margin-top: 80px;    margin: 0 5% 120px 5%;
    }

    #contact .container {
        flex-direction: column;
        gap: 2rem;
    }

    #contact .row {        
        flex-direction: column;        
    }    
    #contact .col-1 {
        width: 100%;
        text-align: center;
    }
    #contact .col-1 h3 {
        font-size: 2.5rem;      
        margin: 20px 0;
    }
    #contact .col-2 {
        width: 100%;
    }
    
}